# Peer-graded Assignment: Segmenting and Clustering Neighborhoods in Toronto

## Pre-Processing

#### Importing Libraries and creating a DataFrame from the Wiki Data

In [190]:
import pandas as pd
import numpy as np
url='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
df_list=pd.read_html(url)
df=pd.DataFrame(df_list[0])

#### Dropping the rows which are Not assigned in Brorough

In [191]:
new_header = df.iloc[0] #grab the first row for the header
df = df[1:] #take the data less the header row
df.columns = new_header #set the header row as the df header

In [192]:
df.head()

0 Postcode           Borough     Neighbourhood
1      M1A      Not assigned      Not assigned
2      M2A      Not assigned      Not assigned
3      M3A        North York         Parkwoods
4      M4A        North York  Victoria Village
5      M5A  Downtown Toronto      Harbourfront

In [193]:
df.drop(df[df['Borough'] == 'Not assigned'].index, inplace=True)

In [194]:
df.head()

0 Postcode           Borough     Neighbourhood
3      M3A        North York         Parkwoods
4      M4A        North York  Victoria Village
5      M5A  Downtown Toronto      Harbourfront
6      M5A  Downtown Toronto       Regent Park
7      M6A        North York  Lawrence Heights

#### Not assigned Neighbourhood are replaced with the vlaue in Borough

In [195]:
for index, row in df.iterrows():
    if df.loc[index,'Neighbourhood'] == 'Not assigned':
        df.loc[index,'Neighbourhood']=df.loc[index,'Borough']


#### Aggregating by unique Postcode and concatenating related Neighbourhood into string by comma seperated

In [196]:
df=df.groupby('Postcode', as_index=False).agg(lambda x: ', '.join(set(x.dropna())))

In [197]:
df.shape

(103, 3)